<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://unpkg.com/chota@latest">
<title>Colibri Funcup 2023</title>
</head>
<body>
<div class="container">
<nav class="nav">
  <div class="nav-center">
    <a class="brand" href="index.html">
      <img style="max-height:10rem" src="static/icon.png" alt="">
    </a>
  </div>
</nav>

<h1>Colibri Funcup 2023</h1>

<table class="striped">
<thead>
<tr>
<th>№</th>
<th></th>
<th class="text-right">Schaui</th>
<th class="text-right">Linden</th>
<th class="text-right">⏱</th>
<th class="text-right">⟲</th>
<th class="text-right">⟳</th>
<th class="text-right">◎</th>
<th class="text-right">⌔</th>
<th class="text-right">🥾</th>
<th class="text-right">📷</th>
<th class="text-right">Punkte</th>
</tr>
</thead>
<tbody>
{% for p in pilots %}
<tr>
<td>{{ p.rank }}</td>
<td><a href="pilot{{p.pid}}.html"?>{{ p.name }}</a></td>
<td class="text-right">{{ p.stats.schauiflights }}</td>
<td class="text-right">{% if p.stats.lindenflights %}{{ p.stats.lindenflights }}{% endif %}</td>
<td class="text-right">{{ p.stats.prettyflighttime }}</td>
<td class="text-right">{{ p.stats.left_turns }}</td>
<td class="text-right">{{ p.stats.right_turns }}</td>
<td class="text-right">{{ p.stats.landepunkt1 }} / {{ p.stats.landepunkt2 }} / {{ p.stats.landepunkt3 }} </td>
<td class="text-right">{{ p.stats.sektoren }}</td>
<td class="text-right">{% if p.stats.hikes %}{{ p.stats.hikes }}{% endif %}</td>
<td class="text-right">{% if p.stats.fotos %}{{ p.stats.fotos }}{% endif %}</td>
<td class="text-right">{{ p.points.total }}</td>
</tr>
{% endfor %}
</tbody></table>
</body>
</div>
</html>
