{% extends "base.html" %}
{% block title %}Colibri Funcup 2023{% endblock %}
{% block h1 %}Colibri Funcup 2023{% endblock %}
{% block content %}

<h2>Karte <a href="map.html">↪</a></h2>

<figure>
<iframe src="map.html" width="800rem" height="600rem"/></iframe>
<figcaption>Die bereits erflogenen Sektoren</figcaption>
</figure>

<h2>Ranking</h2>

<table class="striped">
<thead>
<tr>
<th>№</th>
<th></th>
<th class="text-right">Schaui</th>
<th class="text-right">Linden</th>
<th class="text-right">⏱</th>
<th class="text-right">⟲</th>
<th class="text-right">⟳</th>
<th class="text-right">◎</th>
<th class="text-right">⌔</th>
<th class="text-right">🥾</th>
<th class="text-right">📷</th>
<th class="text-right">Punkte</th>
</tr>
</thead>
<tbody>
{% for p in pilots %}
<tr>
<td>{{ p.rank }}</td>
<td><a href="pilot{{p.pid}}.html"?>{{ p.name }}</a></td>
<td class="text-right">{{ p.stats.schauiflights }}</td>
<td class="text-right">{% if p.stats.lindenflights %}{{ p.stats.lindenflights }}{% endif %}</td>
<td class="text-right">{{ p.stats.prettyflighttime }}</td>
<td class="text-right">{{ p.stats.left_turns }}</td>
<td class="text-right">{{ p.stats.right_turns }}</td>
<td class="text-right">{{ p.stats.landepunkt1 }} / {{ p.stats.landepunkt2 }} / {{ p.stats.landepunkt3 }} </td>
<td class="text-right">{{ p.stats.sektoren }}</td>
<td class="text-right">{% if p.stats.hikes %}{{ p.stats.hikes }}{% endif %}</td>
<td class="text-right">{% if p.stats.fotos %}{{ p.stats.fotos }}{% endif %}</td>
<td class="text-right">{{ p.points.total }}</td>
</tr>
{% endfor %}
</tbody></table>
</body>

{% endblock %}
