{% extends "base.html" %}
{% block title %}Colibri Funcup 2023{% endblock %}
{% block h1 %}Colibri Funcup 2023{% endblock %}
{% block content %}

<section>
<h2>Karte <a href="map.html">↪</a></h2>

<figure >
<iframe src="map.html" style="width:100%; aspect-ratio: 16/9;"/></iframe>
<figcaption>Die bereits erflogenen Sektoren</figcaption>
</figure>
</section>

{% if pilots %}
<section>
<h2>Ranking</h2>

<div style="overflow-x:auto">
<table class="striped">
<thead>
<tr>
<th>№</th>
<th></th>
<th class="text-right">Schaui</th>
<th class="text-right">Linden</th>
<th class="text-right">⏱</th>
<th class="text-right">⟲</th>
<th class="text-right">⟳</th>
<th class="text-right">◎</th>
<th class="text-right">⌔</th>
<th class="text-right">🥾</th>
<th class="text-right">📷</th>
<th class="text-right">Punkte</th>
</tr>
</thead>
<tbody>
{% for p in pilots %}
<tr>
<td>{{ p.rank }}</td>
<td><a href="pilot{{p.pid}}.html">{{ p.name }}</a></td>
<td class="text-right">{{ p.stats.schauiflights }}</td>
<td class="text-right">{% if p.stats.lindenflights %}{{ p.stats.lindenflights }}{% endif %}</td>
<td class="text-right">{{ p.stats.prettyflighttime }}</td>
<td class="text-right">{{ p.stats.left_turns }}</td>
<td class="text-right">{{ p.stats.right_turns }}</td>
<td class="text-right">{{ p.stats.landepunkt1 }} / {{ p.stats.landepunkt2 }} / {{ p.stats.landepunkt3 }} </td>
<td class="text-right">{{ p.stats.sektoren }}</td>
<td class="text-right">{% if p.stats.hikes %}{{ p.stats.hikes }}{% endif %}</td>
<td class="text-right">{% if p.stats.fotos %}{{ p.stats.fotos }}{% endif %}</td>
<td class="text-right">{{ p.points.total }}</td>
</tr>
{% endfor %}
</tbody></table>
</div>
</section>

{% else %}

<section class="row is-center">
<div class="col-6 card">
  <header>
  <h2>Noch keine Flüge</h2>
  </header>
  <p>Geh doch fliegen und sei der oder die Erste!</p>
</div>
</section>

{% endif %}

<section>
<h2>Info</h2>

<p>Dies ist der Funcup des <a href="https://gsccolibri.de/">GSC Colibri Freiburg e.V.</a>. Für Details zur Auswertung siehe die <a href="https://www.gsccolibri.de/wettkampf/funcup/">Ausschreibung</a>.
Die Sektoren können auch als <a href="./sektoren-airspace.txt">Luftraum-Datei im Airspace-Format</a> heruntergeladen werden.
Fragen werden im Slack-Kanal <tt>#funcup</tt> beantwortet.
Die Programmierung der Seite, erstellt von Joachim Breitner, kann auf <a href="https://github.com/nomeata/colibri-funcup-2023">GitHub</a> inspiziert werden.
</p>
</section>

<section>
<h2>Statistiken</h2>

<p>Im Folgenden ein paar mehr oder weniger sinnvolle Statistiken.</p>

<p>Welche Punktzahl hätten wir, wenn wir alle gemeinsam antreten würden:</p>

<div style="overflow-x:auto">
<table class="striped">
<thead>
<tr>
<th class="text-right">Schaui</th>
<th class="text-right">Linden</th>
<th class="text-right">⏱</th>
<th class="text-right">⟲</th>
<th class="text-right">⟳</th>
<th class="text-right">◎</th>
<th class="text-right">⌔</th>
<th class="text-right">🥾</th>
<th class="text-right">📷</th>
<th class="text-right">Punkte</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-right">{{ total_stats.schauiflights }}</td>
<td class="text-right">{% if total_stats.lindenflights %}{{ total_stats.lindenflights }}{% endif %}</td>
<td class="text-right">{{ total_stats.prettyflighttime }}</td>
<td class="text-right">{{ total_stats.left_turns }}</td>
<td class="text-right">{{ total_stats.right_turns }}</td>
<td class="text-right">{{ total_stats.landepunkt1 }} / {{ total_stats.landepunkt2 }} / {{ total_stats.landepunkt3 }} </td>
<td class="text-right">{{ total_stats.sektoren }}</td>
<td class="text-right">{% if total_stats.hikes %}{{ total_stats.hikes }}{% endif %}</td>
<td class="text-right">{% if total_stats.fotos %}{{ total_stats.fotos }}{% endif %}</td>
<td class="text-right">{{ total_points.total }}</td>
</tr>
</tbody></table>
</div>

<p>Wie korrelieren die verschiedenen Kategorien mit der Gesamtpunktzahl? (Was das zu bedeuten hat? Wer weiß…)</p>

<div style="overflow-x:auto" class="is-horizontal-align">
<table class="striped">
<thead>
<tr>
<th class="text-right">Schaui</th>
<th class="text-right">Linden</th>
<th class="text-right">⏱</th>
<th class="text-right">|⟲-⟳|</th>
<th class="text-right">◎</th>
<th class="text-right">⌔</th>
<th class="text-right">🥾</th>
<th class="text-right">📷</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-right">{{ total_corr.schauiflights | round | int }}%</td>
<td class="text-right">{{ total_corr.lindenflights | round | int }}%</td>
<td class="text-right">{{ total_corr.flighttime | round |int }}%</td>
<td class="text-right">{{ total_corr.drehueberschuss | round |int }}%</td>
<td class="text-right">{{ total_corr.landepunkt1 | round |int }}% / {{ total_corr.landepunkt2 | round |int }}% / {{ total_corr.landepunkt3 | round |int }}% </td>
<td class="text-right">{{ total_corr.sektoren | round |int }}%</td>
<td class="text-right">{{ total_corr.hikes | round |int }}%</td>
<td class="text-right">{{ total_corr.fotos | round |int }}%</td>
</tr>
</tbody></table>
</div>

<p>Und wer sind die größten und kleinsten Drehwürmer (ab 100 Kreisen):</p>

<div style="overflow-x:auto" class="is-horizontal-align">
<table class="striped">
<thead>
<tr>
<th class="text-left">Kategorie</th>
<th class="text-left">Pilot</th>
<th class="text-right">Wert</th>
</tr>
</thead>
<tbody>
<tr>
<td>Ausgeglichensder Dreher (relativ)</td>
<td><a href="pilot{{turn_stats.least_rel_diff.1}}.html">{{ turn_stats.least_rel_diff.0 }}</a></td>
<td class="text-right">{{ turn_stats.least_rel_diff.2 | round | int }}%</td>
</tr>
<tr>
<td>Größter Linksdreher (relativ)</td>
<td><a href="pilot{{turn_stats.max_rel_diff_left.1}}.html">{{ turn_stats.max_rel_diff_left.0 }}</a></td>
<td class="text-right">{{ turn_stats.max_rel_diff_left.2 | round | int }}%</td>
</tr>
<tr>
<td>Größter Linksdreher (absolut)</td>
<td><a href="pilot{{turn_stats.max_abs_diff_left.1}}.html">{{ turn_stats.max_abs_diff_left.0 }}</a></td>
<td class="text-right">{{ turn_stats.max_abs_diff_left.2 | round | int }}</td>
</tr>
<tr>
<td>Größter Rechtsdreher (relativ)</td>
<td><a href="pilot{{turn_stats.max_rel_diff_right.1}}.html">{{ turn_stats.max_rel_diff_right.0 }}</a></td>
<td class="text-right">{{ turn_stats.max_rel_diff_right.2 | round | int }}%</td>
</tr>
<tr>
<td>Größter Rechtsdreher (absolut)</td>
<td><a href="pilot{{turn_stats.max_abs_diff_right.1}}.html">{{ turn_stats.max_abs_diff_right.0 }}</a></td>
<td class="text-right">{{ turn_stats.max_abs_diff_right.2 | round | int }}</td>
</tr>
</tbody></table>
</div>

</section>

{% endblock %}
